:host {
  --task-icon-light-display: inline;
  --task-icon-dark-display: none;
  --task-box-shadow: 1px 1px 15px var(--shadow-light);

  cursor: pointer;
  text-decoration: none;
  border: none;

  padding-inline: var(--size-sm);
  padding-block: var(--size-sm);
  background: var(--background);
  box-shadow: var(--task-box-shadow);
  border-radius: var(--border-radius);
  display: flex;
  gap: var(--size-md);
}

:host:hover {
  --task-box-shadow: 1px 1px 15px var(--shadow-medium);
}

:host:active {
  --task-box-shadow: 1px 1px 15px var(--shadow-heavy);
}

.task-media__image {
  vertical-align: middle;
}

.task-content {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  gap: 0;
  text-align: left;
}

.task-head {
  font-size: var(--size-md);
  line-height: var(--size-lg);
  font-weight: var(--font-weight-medium);
  color: var(--font-color-heading);
  margin-bottom: var(--size-md);
}

.task-body {
  flex-grow: 1;
  color: var(--font-color-default);
}

.task-foot {
  margin-bottom: 0;
  color: var(--interactive);
  font-weight: var(--font-weight-bold);
}

.task-foot__icon--light {
  display: var(--task-icon-light-display);
  vertical-align: middle;
}

.task-foot__icon--dark {
  display: var(--task-icon-dark-display);
  vertical-align: middle;
}

@media (prefers-color-scheme: dark) {
  :host {
    --task-icon-light-display: none;
    --task-icon-dark-display: inline;
  }
}

@media (min-width: 768px) {
  :host {
    padding-inline: var(--size-xl);
    padding-block: var(--size-lg);
  }
}
