:host {
  --size-xs: 8px;
  --size-sm: 14px;
  --size-md: 20px;
  --size-lg: 28px;
  --size-xl: 36px;
  --background: #ffffff;
  --background-secondary: #f3f3f3;
  --foreground: #696765;
  --interactive: #455560;
  --font-color-default: var(--foreground);
  --font-color-heading: #212121;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --border-radius: 12px;

  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  font-size: var(--size-sm);
  line-height: var(--size-md);
  color: var(--font-color-default);

  cursor: pointer;
  text-decoration: none;
  border: none;

  padding-inline: var(--size-xl);
  padding-block: var(--size-lg);
  background: var(--background);
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius);
  display: flex;
  gap: var(--size-md);
}

:host:hover {
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.5);
}

:host:active {
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 1);
}

.task-media__image {
  vertical-align: middle;
}

.task-content {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  gap: 0;
  text-align: left;
}

.task-head {
  margin-top: 0;
  font-size: var(--size-md);
  line-height: var(--size-lg);
  font-weight: var(--font-weight-medium);
  color: var(--font-color-heading);
}

.task-body {
  flex-grow: 1;
  margin: 0;
}

.task-foot {
  margin-bottom: 0;
  color: var(--interactive);
  font-weight: var(--font-weight-bold);
}

.task-foot__icon {
  vertical-align: middle;
}
