<div>
  <div class="page-head">
    <div class="page-head-container container">
    <h1 class="page-head__title">Welcome</h1>
    <p class="page-head__description">What would you like to do?</p>
    </div>
  </div>
  <div class="page-body">
    <div class="container">
      <div class="page-body__group">
        @for (task of tasks; track task.id) {
          @if (task.href) {
            <a
              task
              [href]="task.href"
              [callToAction]="task.callToAction"
              [head]="task.head"
              [media]="task.media"
              [mediaAlt]="task.mediaAlt"
            >
              {{task.body}}
            </a>
          } @else {
            <button
              task
              [callToAction]="task.callToAction"
              [head]="task.head"
              [media]="task.media"
              [mediaAlt]="task.mediaAlt"
            >
              {{task.body}}
            </button>
          }
        }
      </div>
    </div>
  </div>
</div>
