:root {
  --background: #ffffff;
  --background-secondary: #e5e5e5;
  --foreground: #171717;
  --interactive: #ce7e5a;
  --brand: #ce7e5a;
  --font-color-default: #696765;
  --font-color-heading: #212121;
  --size-xs: 8px;
  --size-sm: 14px;
  --size-md: 20px;
  --size-lg: 28px;
  --size-xl: 36px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #101010;
    --background-secondary: #3b3b3b;
    --foreground: #ededed;
    --interactive: #a64d19;
    --brand: #a64d19;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
